{% extends 'base.html.twig' %}

{% block title %}Add member to {{ board.name }} board{% endblock %}

{% block body %}

    <h1>Add member to "{{ board.name }}" board</h1>

    {{ form_start(membersForm) }}
        {{ form_widget(membersForm) }}
        <button class="btn btn-success">Add member</button>
        <a href="{{ path('board_show', {id: board.id}) }}">Back to board</a>
    {{ form_end(membersForm) }}

{% endblock %}