{% extends 'base.html.twig' %}

{% block title %}Board{% endblock %}

{% block body %}
    <h1>{{ board.name }}</h1>

    <div class="float-right">
        {{ include('board/_delete_form.html.twig') }}
    </div>
    <a href="{{ path('board_edit', {'id': board.id}) }}" class="float-right">
        <i class="fas fa-edit"></i>
    </a>

    <span>Author - <strong>{{ board.author }}</strong></span>

    <hr>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#description">Description</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="description" class="container tab-pane active"><br>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <p>{{ board.description }}</p>
                    </div>
                    {{ include('board/members/members_block.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <a href="{{ path('board_index') }}">back to list</a>

{% endblock %}
